*{
    font-family: 'Georgia', serif;
}

html{
    background: url(../images/field-background.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    padding: 0;
    margin: 0;
}

#wrapper{
    grid-template-columns: 150px, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: repeat(6, 150px);
}

#header{
    width: 100%;
    background-color: rgba(34, 34, 34, 1);
    display: flex;
    justify-content: flex-start;
    grid-row: 1/-1;
    grid-column: 0/1;
}

#intramurall-text{
    height: 100%;
}

#logo {
    height: auto;
    width: 40%;
    align-self: center;
}

#login-portal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height:100vh;
}

#login{
    grid-column: 3/5;
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    align-self: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgb(106, 120, 122);
    border-radius: 5px;
}

#signup{
    grid-column: 3/5;
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    align-self: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgb(106, 120, 122);
    border-radius: 5px;
}

.login-signup{
    display: flex;
    width: 100%;
    justify-content: center;
}

.login-signup button{
    width: 40%;
    align-self: center;
    height: 40px;
    white-space: nowrap;
    margin: 5px;
}

#login-button, #signup-button{
    width: 40%;
    align-self: center;
    height: 40px;
    white-space: nowrap;
    margin: 5px;
}

#login input, #signup input{
    height: 25px;
    width: 40%;
    margin: 5px;
}

#nav-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav-list p{
    color:#fff;
    padding-top: 0;
}

#header-logo{
    padding: 10px;
}

#home-icon, #stats-icon, #schedule-icon, #teams-icon, #admin-icon{
    height: auto;
    width: 30%;
    padding-top: 15px;
}

#home-icon:hover, #stats-icon:hover, #schedule-icon:hover, #teams-icon:hover, #admin-icon:hover{
    width: 35%;
}

#welcome-header-container{
    grid-column: 2/-1;
    grid-row: 1/2;
    padding: 25px;
    margin: 25px;
    background-color: rgb(252, 123, 4);
    border-radius: 5px;
}

#welcome-header-container h1, #welcome-header-container p{
    padding: 0;
    margin: 0;
    text-align: center;
}

#leagues-container{
    background-color: #fff;
    grid-column: 2/6;
    grid-row: 2/7;
    margin: 25px;
    border-radius: 5px;
    overflow: scroll;
}

#leagues-container-header{
    text-align: center;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: rgba(34, 34, 34, 1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 50px;
    color: #fff;
    align-items: center;
    justify-content: center;
}

#upcoming-games-container{
    background-color: #fff;
    grid-column: 6/8;
    grid-row: 2/7;
    margin: 25px;
    border-radius: 5px;
}

#upcoming-games-header{
    text-align: center;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: rgba(34, 34, 34, 1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 50px;
    color: #fff;
    align-items: center;
    justify-content: center;
}

#admin-leagues-container{
    background-color: #fff;
    grid-row: 2/6;
    grid-column: 2/8;
    margin: 25px;
    border-radius: 5px;
}

#admin-leagues-header{
    text-align: center;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: rgba(34, 34, 34, 1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 50px;
    color: #fff;
    align-items: center;
    justify-content: center;
}

#admin-leagues{
    background-color: #fff;
    border: 2px solid black;
    height: 40%;
    margin: 25px;
    overflow: auto;
}

#add-leagues-container{
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-leagues-header{
    text-align: center;
    margin: 0;
    margin-bottom: 5px;
}

.add-league-input-titles{
    margin-top: 0;
    text-align: center;
}

#add-league-input{
    width: 20%;
    margin-bottom: 1em;
}

#add-description-input{
    width: 20%;
    margin-bottom: 1em;
    padding-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /* Style the table header */
  th {
    background-color: #f2f2f2;
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  /* Style the table rows */
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Style the table data cells */
  td {
    border: 1px solid #dddddd;
    padding: 8px;
  }